<mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Ex. Name" #input>
   
      
  </mat-form-field>
  <div>
    <button mat-raised-button (click)="exportexcel()">EXPORT EXCEL</button>
  </div>
  
<table mat-table matTableExporter [dataSource]="dataSource" class="mat-elevation-z8" id="excel-table" >

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element.id}} </td>
    </ng-container>
  
    <!-- Name Column -->
    <ng-container matColumnDef="login">
      <th mat-header-cell *matHeaderCellDef> LOGIN </th>
      <td mat-cell *matCellDef="let element"> {{element.login}} </td>
    </ng-container>
  
    <!-- Weight Column -->
    <ng-container matColumnDef="avatarurl">
      <th mat-header-cell *matHeaderCellDef> AVATAR </th>
      <td mat-cell *matCellDef="let element"> <img src="{{element.avatar_url}}" alt="Image" width="40" height="40"> </td>
    </ng-container>
  
    <!-- Symbol Column -->
    <ng-container matColumnDef="url">
      <th mat-header-cell *matHeaderCellDef> URL</th>
      <td mat-cell *matCellDef="let element"> <a>{{element.url}}</a> </td>
    </ng-container>
    <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef>TYPE</th>
        <td mat-cell *matCellDef="let element"> {{element.type}} </td>
      </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

  </table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>